
@font-face {
  font-family: 'sunflower-light';
  src:url('./assets/fonts/Sunflower-Light.ttf')
}

body {
  margin: 0;
  font-family: 'sunflower-light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .App {
  font-family: 'sunflower-light';
} */

